---
BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Stroustrup
ColumnLimit: '0'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
PointerAlignment: Right
SpaceAfterTemplateKeyword: 'true'
TabWidth: '4'
UseTab: Always

...
